<h1>カートの表示</h1>
<table>
<%
for item in @items
  product = item.product
-%>
  <tr>
    <td><%= item.quantity %></td>
    <td><%= h product.title %></td>
    <td align="right"><%= item.unit_price %></td>
    <td align="right"><%= item.unit_price * item.quantity %></td>
  </tr>
<% end -%>
</table>