<html>
  <head>
    <title>またのご訪問お待ちしています!</title>
  </head>
  <body>
    <h1>さようなら</h1>
    <p>
      ご訪問ありがとうございました。
    </p>
    <p>
      もう一度<%= link_to "こんにちは", :action => "hello" %>と表示します。
  </body>
</html>
