<html>
  <head>
    <title>hello</title>
  </head>
  <body>
    <h1>Rails からこんにちは!</h1>
    <p>
      現在時刻は、<%= @time %>です。
    </p>
    <p>
      <a href="/say/goodbye">さようなら</a>と表示します!
  </body>
</html>