<html>
  <head>
    <title>hello</title>
  </head>
  <body>
    <h1>Rails からこんにちは!</h1>
    <p>
      現在時刻は、<%= @time %>です。
    </p>
    <p>
      <%= link_to "さようなら!", :action => "goodbye" %>と表示します。
  </body>
</html>